<!DOCTYPE html>

<html>

<head>

<title></title>
<link rel="stylesheet" href="/css/style.css">

</head>

<body>

      <div class="main-content">
    <img class="portrait" src="/images/img1.jpg" alt="" >
    </div>
</body>


</html>