<!DOCTYPE html>

<html>

<head>

<title></title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <div class="main-content">
    <p>We are here to provide you every type of help</p>
    </div>

</body>


</html>