<!DOCTYPE html>

<html>

<head>

<title></title>
<link rel="stylesheet" href="/css/style.css">

</head>

<body>

   <div class="main-content">

    <p>Enter the Location to get its weather temperature</p>

    <form action="">
        <input type="text" placeholder="Enter the city name">
        <button type="submit">Search</button>
    </form>
    
    <br>
    
    <h4 id="message-1" ></h4>
    <h4 id="message-2" ></h4>

  </div>
<script src="/js/app.js"></script>
</body>


</html>