body{
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 12px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    min-height: 90vh
}

.main-content {
    flex-grow: 1;
}

footer
{
color: #888888;
border-top: 1px solid #dad8d8;
margin-top: 25px;
padding: 5px 0px;
}

header
{
    margin: 16px 0px 38px 0px;
}

h1
{
    font-size: 40px;
    margin-bottom: 16px;
}

header a 
{
    color: #888888;
    margin-right: 10px;
    text-decoration: none;
} 

header a:hover 
{
    color: black;
    transition: 0.5s ease-in-out;
}

.portrait
{
    width: 250px;
}

input
{
  border: 1px solid #cccccc;
  padding: 8px;
  border-radius: 3px;
  width: 56.5%;  
}

button
{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    border-radius: 3px;
    color: white;
    padding: 8px;
}